<% content_for :body_class, "page--signup" %>

<div class="row">
  <div class="columns medium-7 medium-centered">
    <h1 class="page--header">Forgot your password?</h1>
  </div>
</div>

<div class="row">
  <div class="columns medium-7 medium-centered">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "form form__devise" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row column">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "button button--primary" %>
  </div>
<% end %>

  </div>
</div>


<div class="row column text-center">
  <%= render "devise/shared/links" %>
</div>