<!DOCTYPE html>
<html>
<head>
  <title>AceTheInterview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_pack_tag 'application'%>
  <%= csrf_meta_tags %>

<link href="https://fonts.googleapis.com/css?family=Francois+One|Gudea:700|News+Cycle:400,700|Palanquin:100,400,600,700|Crimson+Text:400" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body class="page <% if current_page?('/')%>page--home<% end %> <%= yield (:body_class) %>">

  <header class="header">

    <div class="title-bar" data-responsive-toggle="header-nav" data-hide-for="medium">
      <div class="title-bar-left">

        <a href="/<% if current_user %>app<% end %>" class="logo logo--mobile">
          <span class="logo logo__card logo__card--mobile">A</span>
        </a>

      </div>
      <button class="menu-icon title-bar--menu-toggle" type="button" data-toggle="header-nav"></button>
    </div>

  <div data-sticky-container>
    <nav id="header-nav" class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small">

    <div class="row">
      <div class="columns large-12">

      <!-- <div class="title-bar-left title-bar-logo"> -->

        <a href="/<% if current_user %>app<% end %>" class="logo logo--desktop clearfix">
          <span class="logo logo__card">A</span>
          <span class="logo logo__text">
            Ace <span class="logo__text--serif">-the-</span> Interview
          </span>
        </a>

     <!--  </div> -->

      <div class="title-bar-right title-bar-menu menu-centered text-center-small">
        <ul class="main menu dropdown small-horizontal" data-responsive-menu="accordion medium-dropdown" data-alignment="auto">
        <% if current_user %>
          <li><a href="/app" class="button button__nav button__nav--app">Study</a></li>
          <li><a href="#" class="button button__nav button__nav--dashboard">Dashboard</a></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "button button__nav buton__nav--signout" %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path, :class => "button button--primary button__nav button__nav--signup" %></li>
          <li><%= link_to 'Sign In', new_user_session_path, :class => "button button__nav buton__nav--signin" %></li>
        <% end %>
        </ul>
      </div>

      </div>

    </div>


      <div id="header-search">

      </div>

    </nav>
  </div>

  </header>


  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>

  <footer class="footer">
    <div class="row column text-center">
      © forever
    </div>
  </footer>
</body>
</html>
