<!DOCTYPE html>
<html>
<head>
  <title>AceTheInterview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%#= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_pack_tag 'application'%>
  <%= csrf_meta_tags %>

<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Francois+One|Gudea:700|Hammersmith+One|News+Cycle:400|700|Palanquin:100,400,600,700|Crimson+Text:400,400i" rel="stylesheet"

</head>
<body>



  <header class="header">
   <div id="mobile-toggle" class="title-bar" data-responsive-toggle="header-nav" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="header-nav"></button>
      <button class="title-bar-title" data-toggle="header-nav">Menu</button>
      <div class="title-bar-right">
        <a href="/" class="header__logo--mobile">
          logo mobile
        </a>
      </div>
    </div>

  <div data-sticky-container>
    <nav id="header-nav" class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small">

    <div class="row">
      <div class="large-11 large-centered columns">

      <div class="title-bar-left title-bar-logo">
        <a href="/" class="logo">
          <span class="logo logo__card">A</span>

          <span class="logo logo__text">
            Ace <span class="logo__text--serif">-the-</span> Interview
          </span>
        </a>
      </div>

      <div class="title-bar-right title-bar-menu menu-centered">
        <ul class="main menu dropdown vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown" data-alignment="auto">
          <li>Sign Up</li>
          <li>Login</li>
        </ul>
      </div>

      </div>

    </div>


      <div id="header-search">

      </div>

    </nav>
  </div>

  </header>




<div class="home-hero">

  <div class="row column text-center">

      <h1 class="home-hero__header">Don't leave your interview up to chance.</h1>
      <h2 class="home-hero__header home-hero__header--subheader">Ace the Interview</h2>

  </div>

</div>


<div class="row text-center home-card-push">
  <div class="home-card">
    <div class="card">
      <div class="card-divider">
        <h4>What is a class?</h4>
      </div>
      <div class="card-section">
        <button class="button primary">Hide Answer</button>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cupiditate mollitia illum minima nulla repellendus repudiandae in consectetur eius saepe, nostrum quae, nemo ipsum? Repudiandae molestiae eveniet dolor dignissimos delectus.</blockquote>
        <p>Rate</p>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="columns medium-6">
    <h4 class="home--feature"></h4>
  </div>

  <div class="columns medium-6">

  </div>

</div>


Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.



<!--   <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">AceTheInterview</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>
 -->



  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
